:root {
    --couleur-fond: #303030; /* Couleur de fond */
    --couleur-texte: #e9e9e9; /* Couleur du texte */
    --couleur-accent: #e9e9e9; /* Couleur d'accent */
    --couleur-bouton: #000000; /* Couleur des boutons */
}

body {
display: flex; /* Indispensable pour que le centrage fonctionne */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    transition: background-color 0.5s, color 0.5s; /* Transition pour un changement de thème plus fluide */
    
    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box; /* Évite que le padding n'ajoute de la taille à la page */
}

/* État final : Mode Clair (appliqué via JavaScript) */
body.light-mode {
    --couleur-fond: #ececec;
    --couleur-texte: #212121;
    --couleur-accent: #000000;
    --couleur-bouton: #ffffff;
    
    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--couleur-accent);
    margin-top: 50px; /* Espace au-dessus du titre */
}

p {
    color: var(--couleur-texte);
    font-size: 18px; /* Taille du texte */
}

button {
    background-color: var(--couleur-bouton);
    color: var(--couleur-texte);
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;

    transition: background-color 0.5s, color 0.5s;
}

body.light-mode button {
    background-color: var(--couleur-bouton);
    color: var(--couleur-texte);
    border: 1px solid #212121;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: var(--couleur-bouton); /* Pas de changement au survol */
    color: var(--couleur-texte);
}