:root {
    --couleur-fond: #212121; /* Couleur de fond */
    --couleur-texte: #e9e9e9; /* Couleur du texte */
    --couleur-accent: #e9e9e9; /* Couleur d'accent */
    --couleur-bouton: #000000; /* Couleur des boutons */
}

body {
display: flex; /* Indispensable pour que le centrage fonctionne */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background-color: var(--couleur-fond);
    color: var(--couleur-texte);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    box-sizing: border-box; /* Évite que le padding n'ajoute de la taille à la page */
}

h1, h2, h3, h4, h5, h6 {
    color: var(--couleur-accent);
    margin-top: 50px; /* Espace au-dessus du titre */
}

p {
    color: var(--couleur-texte);
    font-size: 18px; /* Taille du texte */
}

button {
    background-color: var(--couleur-bouton);
    color: var(--couleur-texte);
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}